In [2]:
import pandas as pd
import numpy as np

In [4]:
print("Data Preparation A : ")
print("    ")

# Specifying the path of the dataset 
dataset_bangkok_path=r'C:\Users\Ananya Pal\Documents\TUD\1st semester\Introduction to Python\data-analysis-plotting-tool\data-analysis-plotting-tool\historical_weather_data\data\bangkok_2020-01-01_2024-01-27.csv'
# Read the selected data
df = pd.read_csv(dataset_bangkok_path)
# list the fields/variables
display(df.head())
# Specifying the columns to be dropped
columns_to_drop = ['Unnamed: 0', 'temperature_2m_mean', 'apparent_temperature_max', 'apparent_temperature_min', 'sunrise', 'sunset', 'wind_speed_10m_max', 'wind_gusts_10m_max', 'wind_direction_10m_dominant', 'shortwave_radiation_sum', 'et0_fao_evapotranspiration']
# Drop the specified columns
df = df.drop(columns=columns_to_drop, axis=1)
# list the fields/variables
display(df.head())
# printing all column names
column_names = df.columns.tolist()
print(column_names)
# identifing their types
display(df.dtypes)

print("     ")
print("Data Preparation 'b':")

print("     ")
print('Outliers:')
print("     ")

# Columns to detect and remove outliers
columns_to_check = ['weather_code', 'temperature_2m_max', 'temperature_2m_min', 'apparent_temperature_mean',
                     'daylight_duration', 'sunshine_duration', 'precipitation_sum', 'rain_sum', 'snowfall_sum',
                     'precipitation_hours']

# Loop through each column
for column in columns_to_check:
    # Calculate quartiles and IQR for the current column
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    # Identify outliers for the current column
    outliers = df[(df[column] < Q1 - 1.5 * IQR) | (df[column] > Q3 + 1.5 * IQR)]

    # Print outliers for the current column
    print(f"Outliers in '{column}':")
    print(outliers[['date', column]])
    
    # Remove outliers for the current column
    df = df[~((df[column] < Q1 - 1.5 * IQR) | (df[column] > Q3 + 1.5 * IQR))]

# Display the DataFrame after removing outliers
print("After Fixing the Outliers:")
display(df.head())


print("     ")
print('inconsistencies:')
print("     ")

# List of columns to check for missing values
columns_to_check = ['weather_code', 'temperature_2m_max', 'temperature_2m_min', 'apparent_temperature_mean',
                     'daylight_duration', 'sunshine_duration', 'precipitation_sum', 'rain_sum', 'snowfall_sum',
                     'precipitation_hours']

# Step 1: Check for Missing Values
missing_values_summary = df[columns_to_check].isnull().sum()
print("Missing Values Summary:")
print(missing_values_summary)

# Step 2: Fix Missing Values
# Impute missing values with the mean for each column
df[columns_to_check] = df[columns_to_check].fillna(df[columns_to_check].mean())

# Display the DataFrame after fixing missing values
print("\nDataFrame after fixing missing values:")
print(df.head())

# Save the cleaned DataFrame to a new CSV file
df.to_csv('bangkok_cleaned_data.csv', index=False)

Data Preparation A :

,Unnamed: 0,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,...,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
0,0,2020-01-01,1.0,33.632500,24.332499,28.763756,34.013718,26.062157,30.031357,0,...,38087.770,0.0,0.0,0.0,0.0,21.674870,38.880000,56.664223,18.99,5.601125
1,1,2020-01-02,2.0,33.332500,23.832499,28.780418,34.916040,25.808203,30.477592,0,...,38100.996,0.0,0.0,0.0,0.0,18.511143,34.920000,50.494526,18.44,5.277694
2,2,2020-01-03,1.0,33.732502,23.432499,28.830421,35.480530,25.682440,31.069640,0,...,38115.348,0.0,0.0,0.0,0.0,13.089354,25.919998,54.083694,17.87,4.778579
3,3,2020-01-04,2.0,33.482502,23.432499,28.899168,35.481490,26.331448,31.355614,0,...,38130.780,0.0,0.0,0.0,0.0,12.074766,26.640000,58.684086,17.87,4.738755
4,4,2020-01-05,0.0,34.132500,23.532500,28.761667,35.482212,26.092035,30.877304,0,...,38147.290,0.0,0.0,0.0,0.0,15.158522,30.239998,62.248420,19.35,5.018105

,date,weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_mean,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours
0,2020-01-01,1.0,33.632500,24.332499,30.031357,40787.664,38087.770,0.0,0.0,0.0,0.0
1,2020-01-02,2.0,33.332500,23.832499,30.477592,40799.340,38100.996,0.0,0.0,0.0,0.0
2,2020-01-03,1.0,33.732502,23.432499,31.069640,40812.016,38115.348,0.0,0.0,0.0,0.0
3,2020-01-04,2.0,33.482502,23.432499,31.355614,40825.664,38130.780,0.0,0.0,0.0,0.0
4,2020-01-05,0.0,34.132500,23.532500,30.877304,40840.260,38147.290,0.0,0.0,0.0,0.0

['date', 'weather_code', 'temperature_2m_max', 'temperature_2m_min', 'apparent_temperature_mean', 'daylight_duration', 'sunshine_duration', 'precipitation_sum', 'rain_sum', 'snowfall_sum', 'precipitation_hours']

date                          object
weather_code                 float64
temperature_2m_max           float64
temperature_2m_min           float64
apparent_temperature_mean    float64
daylight_duration            float64
sunshine_duration            float64
precipitation_sum            float64
rain_sum                     float64
snowfall_sum                 float64
precipitation_hours          float64
dtype: object

Data Preparation 'b':

Outliers:

Outliers in 'weather_code':
Empty DataFrame
Columns: [date, weather_code]
Index: []
Outliers in 'temperature_2m_max':
            date  temperature_2m_max
68    2020-03-09           37.582500
281   2020-10-08           26.582499
282   2020-10-09           26.932499
283   2020-10-10           25.482500
284   2020-10-11           27.032500
286   2020-10-13           25.782500
290   2020-10-17           25.882500
291   2020-10-18           25.632500
315   2020-11-11           25.882500
316   2020-11-12           25.732500
355   2020-12-21           26.632500
366   2021-01-01           26.632500
377   2021-01-12           25.482500
378   2021-01-13           25.632500
520   2021-06-04           37.932503
535   2021-06-19           36.982502
536   2021-06-20           37.232502
549   2021-07-03           36.932503
550   2021-07-04           37.432503
551   2021-07-05           38.382500
634   2021-09-26           26.632500
655   2021-10-17           25.482500
656   2021-10-18           26.982500
823   2022-04-03           25.182499
834   2022-04-14           37.482502
835   2022-04-15           37.182503
836   2022-04-16           37.032500
853   2022-05-03           26.682499
1019  2022-10-16           25.132500
1082  2022-12-18           26.982500
1083  2022-12-19           26.782500
1189  2023-04-04           37.732502
1190  2023-04-05           36.982502
1191  2023-04-06           37.182503
1205  2023-04-20           37.782500
1206  2023-04-21           37.782500
1207  2023-04-22           37.982502
1221  2023-05-06           39.382500
1222  2023-05-07           38.432503
1223  2023-05-08           38.532500
1233  2023-05-18           38.282500
1234  2023-05-19           39.182503
1235  2023-05-20           38.182503
1236  2023-05-21           37.632500
1241  2023-05-26           37.582500
1242  2023-05-27           38.032500
1453  2023-12-24           25.432499
1454  2023-12-25           26.482500
Outliers in 'temperature_2m_min':
            date  temperature_2m_min
338   2020-12-04           19.582499
339   2020-12-05           19.632500
340   2020-12-06           19.782500
341   2020-12-07           19.732500
343   2020-12-09           19.032500
...          ...                 ...
1153  2023-02-27           19.082499
1417  2023-11-18           19.232500
1418  2023-11-19           19.282500
1451  2023-12-22           17.932499
1452  2023-12-23           17.832499

[61 rows x 2 columns]
Outliers in 'apparent_temperature_mean':
            date  apparent_temperature_mean
317   2020-11-13                  27.248337
318   2020-11-14                  26.859465
353   2020-12-19                  27.470934
369   2021-01-04                  27.448416
373   2021-01-08                  27.414007
382   2021-01-17                  27.007950
414   2021-02-18                  27.351187
415   2021-02-19                  26.259048
696   2021-11-27                  27.229668
697   2021-11-28                  27.212965
699   2021-11-30                  26.012090
700   2021-12-01                  25.729263
701   2021-12-02                  26.619932
711   2021-12-12                  27.493470
712   2021-12-13                  27.019287
731   2022-01-01                  26.896683
732   2022-01-02                  27.248444
785   2022-02-24                  26.302256
786   2022-02-25                  26.587677
787   2022-02-26                  27.270395
822   2022-04-02                  24.982101
1018  2022-10-15                  25.996689
1038  2022-11-04                  27.239357
1088  2022-12-24                  25.837336
1093  2022-12-29                  27.130133
1101  2023-01-06                  26.950434
1102  2023-01-07                  25.598547
1103  2023-01-08                  26.086790
1114  2023-01-19                  26.936228
1115  2023-01-20                  27.420187
1118  2023-01-23                  27.334185
1119  2023-01-24                  26.842102
1120  2023-01-25                  24.931023
1122  2023-01-27                  27.344368
1143  2023-02-17                  26.934120
1151  2023-02-25                  27.110231
1200  2023-04-15                  38.161945
1416  2023-11-17                  26.681967
1419  2023-11-20                  26.379957
1450  2023-12-21                  26.853186
1455  2023-12-26                  25.124662
1484  2024-01-24                  26.844650
1485  2024-01-25                  26.013746
Outliers in 'daylight_duration':
Empty DataFrame
Columns: [date, daylight_duration]
Index: []
Outliers in 'sunshine_duration':
            date  sunshine_duration
48    2020-02-18         14140.1230
114   2020-04-24          4524.9355
166   2020-06-15          5222.5030
167   2020-06-16         10260.9740
185   2020-07-04          6161.0740
...          ...                ...
1307  2023-07-31         13749.3290
1309  2023-08-02          1467.6866
1310  2023-08-03         10800.0000
1365  2023-09-27          5471.1636
1373  2023-10-05         11619.3110

[71 rows x 2 columns]
Outliers in 'precipitation_sum':
            date  precipitation_sum
153   2020-06-02          28.100000
194   2020-07-13          17.000002
202   2020-07-21          15.300001
216   2020-08-04          16.700000
265   2020-09-22          15.300001
...          ...                ...
1366  2023-09-28          19.700000
1371  2023-10-03          22.199999
1374  2023-10-06          17.400000
1378  2023-10-10          20.499998
1389  2023-10-21          25.199999

[99 rows x 2 columns]
Outliers in 'rain_sum':
            date   rain_sum
165   2020-06-14  12.400000
196   2020-07-15  12.200000
221   2020-08-09  11.800001
223   2020-08-11  12.700003
259   2020-09-16  12.500002
260   2020-09-17  15.000001
275   2020-10-02  14.900002
278   2020-10-05  14.800001
465   2021-04-10  13.600000
473   2021-04-18  13.200001
481   2021-04-26  14.300001
482   2021-04-27  13.600000
483   2021-04-28  12.300001
484   2021-04-29  13.300001
489   2021-05-04  13.900001
553   2021-07-07  14.300001
599   2021-08-22  13.900000
610   2021-09-02  12.200001
617   2021-09-09  14.600002
630   2021-09-22  12.000002
641   2021-10-03  12.600001
691   2021-11-22  12.300001
772   2022-02-11  12.600001
807   2022-03-18  13.400000
809   2022-03-20  12.300002
856   2022-05-06  14.800001
884   2022-06-03  12.100000
893   2022-06-12  13.100000
911   2022-06-30  11.700000
920   2022-07-09  11.799999
934   2022-07-23  13.100000
942   2022-07-31  14.100000
949   2022-08-07  12.900000
963   2022-08-21  11.900002
975   2022-09-02  12.099999
982   2022-09-09  11.900000
988   2022-09-15  13.200001
992   2022-09-19  13.900001
1008  2022-10-05  14.499999
1009  2022-10-06  12.700001
1011  2022-10-08  14.900000
1054  2022-11-20  11.600000
1246  2023-05-31  11.700000
1261  2023-06-15  12.899999
1263  2023-06-17  12.099999
1269  2023-06-23  13.800001
1274  2023-06-28  12.700001
1290  2023-07-14  11.900000
1298  2023-07-22  13.299999
1328  2023-08-21  11.600001
1339  2023-09-01  13.600000
1350  2023-09-12  13.000001
1362  2023-09-24  13.400000
1370  2023-10-02  12.400000
1372  2023-10-04  12.300000
1375  2023-10-07  12.599998
1379  2023-10-11  12.900000
1404  2023-11-05  11.700001
1406  2023-11-07  11.800000
Outliers in 'snowfall_sum':
Empty DataFrame
Columns: [date, snowfall_sum]
Index: []
Outliers in 'precipitation_hours':
            date  precipitation_hours
145   2020-05-25                 17.0
149   2020-05-29                 16.0
225   2020-08-13                 17.0
280   2020-10-07                 18.0
303   2020-10-30                 17.0
513   2021-05-28                 19.0
591   2021-08-14                 16.0
618   2021-09-10                 20.0
871   2022-05-21                 19.0
1355  2023-09-17                 21.0
After Fixing the Outliers:

,date,weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_mean,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours
0,2020-01-01,1.0,33.632500,24.332499,30.031357,40787.664,38087.770,0.0,0.0,0.0,0.0
1,2020-01-02,2.0,33.332500,23.832499,30.477592,40799.340,38100.996,0.0,0.0,0.0,0.0
2,2020-01-03,1.0,33.732502,23.432499,31.069640,40812.016,38115.348,0.0,0.0,0.0,0.0
3,2020-01-04,2.0,33.482502,23.432499,31.355614,40825.664,38130.780,0.0,0.0,0.0,0.0
4,2020-01-05,0.0,34.132500,23.532500,30.877304,40840.260,38147.290,0.0,0.0,0.0,0.0

inconsistencies:

Missing Values Summary:
weather_code                 0
temperature_2m_max           0
temperature_2m_min           0
apparent_temperature_mean    0
daylight_duration            0
sunshine_duration            0
precipitation_sum            0
rain_sum                     0
snowfall_sum                 0
precipitation_hours          0
dtype: int64

DataFrame after fixing missing values:
         date  weather_code  temperature_2m_max  temperature_2m_min  \
0  2020-01-01           1.0           33.632500           24.332499
1  2020-01-02           2.0           33.332500           23.832499
2  2020-01-03           1.0           33.732502           23.432499
3  2020-01-04           2.0           33.482502           23.432499
4  2020-01-05           0.0           34.132500           23.532500

   apparent_temperature_mean  daylight_duration  sunshine_duration  \
0                  30.031357          40787.664          38087.770
1                  30.477592          40799.340          38100.996
2                  31.069640          40812.016          38115.348
3                  31.355614          40825.664          38130.780
4                  30.877304          40840.260          38147.290

   precipitation_sum  rain_sum  snowfall_sum  precipitation_hours
0                0.0       0.0           0.0                  0.0
1                0.0       0.0           0.0                  0.0
2                0.0       0.0           0.0                  0.0
3                0.0       0.0           0.0                  0.0
4                0.0       0.0           0.0                  0.0

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns